{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacenes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        /* Estilos personalizados */
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        }

        .navbar-brand {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .nav-link {
            color: #495057;
        }

        .nav-link:hover {
            color: #007bff;
        }

        .form-control {
            width: 300px;
            /* Ancho personalizado para el campo de búsqueda */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bienvenido, {{ usuario.persona.nombre }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mis_pedidos' %}">Mis pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Material en general</a>
                    </li>

                    {% if usuario.encargado %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar_pedidos_unidad' usuario.id %}">Pedidos unidad</a>
                    </li>
                    {% endif %}

                    {% if usuario.oficina.nombre == "Almacenes" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'administracion' %}">ir almacen</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" action="{% url 'buscar' %}" method="GET">
                    <input class="form-control me-2" type="search" name="buscador" value="{{ request.GET.buscador }}"
                        placeholder="Buscar materiales" aria-label="Buscar">
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block usuario %}
        <!-- Contenido específico del usuario -->
        {% endblock usuario %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    {% block js %}
    <!-- Scripts adicionales específicos -->
    {% endblock js %}
</body>

</html>