{% extends '../base.usuarios.html' %}

{% block usuario %}
<div class="container-fluid mt-5 ">
    <div class="row">
        <div class="col-sm-12 col-md-4">

            <form action="{%url 'index' %}" method="POST">
                {% csrf_token %}
                <h4>Buscar por categoria</h4>
                <select class="form-select" name="categoria_id">
                    {%for categoria in listado_categoria %}
                    <option value="{{categoria.id}}">{{categoria.nombre}}</option>

                    {% endfor %}
                </select>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success">Buscar</button>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="text-center">
                <h3>Lista de {{categoria}}</h3>
            </div>

            <div class="table-responsive mt-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th>Disponible</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for material in data %}
                        <tr>
                            <td>{{ material.codigo }}</td>
                            <td>{{ material.nombre }}</td>
                            <td>{{ material.marca }}</td>
                            <td>{{ material.stock }}</td>
                            <td>
                                <a href="{% url 'realizar_pedido' material.id %}"
                                    class="btn btn-success btn-sm">Ordenar</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">Lista de materiales vacía</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% include 'paginador/paginador.html' %}
        </div>


    </div>
</div>


{% endblock usuario %}